
<!-- tabela principal do formulário -->
<table border="0" cellspacing="1" cellpadding="0" align="center">						
    <tr>								
        <td class="label">Name: </td>
        <td class="bg_cell_field">{name_value}</td>
    </tr>
    <tr>								
        <td class="label">Email:</td>
        <td class="bg_cell_field">{email_value}</td>
    </tr>
    <tr>								
        <td class="label">Subject:</td>
        <td class="bg_cell_field">{subject_value}</td>
    </tr>
    <tr>								
        <td class="label">Message:</td>
        <td class="bg_cell_field">{message_value}</td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
</table>
